#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.name{
  font-family: 'Space Grotesk';
  font-weight: bolder;
  font-size: 10vh ;
  color: bisque;
  background-image: url("https://images.pexels.com/photos/2128042/pexels-photo-2128042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.homer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  flex:90vh
}
.info{
  font-size: 35px;
  font-family: "VT323";
}